:root {
    --main: #F3F3F3;
    --input: #E0E0E0;
    --shadow: #A7A7A7;
    --back: #BEE2F6;
    --accent: #50FEFE;
    --color: #2C4C73;
    --hover: #ECCA3C;
}

* {
    font: bold 1rem "Noto Sans", sans-serif;
    appearance: none;
    border: none;
    box-sizing: border-box;
    color: var(--color);
    margin: 0;
    outline: 0;
    padding: 0;
}

html,
body {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    background:
        radial-gradient(ellipse at top,
            var(--back) 100%,
            var(--main));
}

form {
    display: grid;
    grid-template-columns: 3.5rem 1fr 3.5rem 1fr;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background: var(--main);
    box-shadow: 1rem 1rem var(--shadow);
}

fieldset {
    display: grid;
    grid-column: span 4;
    grid-template-columns: 3.5rem 1fr;
    align-items: center;
    gap: 1rem;
}

hr {
    grid-column: span 4;
    height: .25rem;
    border-radius: .25rem;
    background:
        repeating-linear-gradient(to right,
            var(--accent),
            var(--accent) 1rem,
            transparent 1rem,
            transparent 1.5rem);
}

label {
    color: var(--shadow);
}

input,
select,
textarea {
    height: 3.5rem;
    border-radius: 1rem;
    padding: 1rem;
    background: var(--input);
}

input {
    &[type=number] {
        &::-webkit-inner-spin-button {
            display: none;
        }
    }

    &[type=button],
    &[type=submit] {
        text-transform: uppercase;
        cursor: pointer;
        background: var(--color);
        color: var(--main);
        transition: .5s;

        &:hover {
            background: var(--hover);
            color: var(--color);
        }
    }

    &[type=submit] {
        grid-column: span 4;
    }

    &[type=text] {
        grid-column: span 2;
    }
}

select {
    text-transform: capitalize;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: calc(100vw - 8.5em);
    min-height: 3.5rem;
    resize: horizontal;

    &::-webkit-resizer,
    &::-webkit-scrollbar {
        display: none;
    }
}

audio {
    grid-column: span 4;
    width: 100%;

    &::-webkit-media-controls-enclosure {
        background: transparent;
    }
}

@media screen and (max-height: 768px) {
    * {
        font-size: 0.9rem;
    }
}