exllamav2; platform_system == "Linux"
fastapi-slim
flash-attn; platform_system == "Linux"
python-multipart
rotary-embedding-torch
semantic-text-splitter
soundfile
torchtune
transformers
uvicorn
vector-quantize-pytorch