<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLaSA</title>
    <link href="icon.png" rel="icon">
    <link href="style.css" rel="stylesheet">
    <script defer src="script.js"></script>
</head>

<body>
    <audio></audio>

    <form>
        <textarea name="input" placeholder="Input"></textarea>

        <hr>

        <label for="voice">Voice</label>
        <fieldset class="select">
            <select id="voice" name="voice">
                <option value="">none</option>
                {% for voice in settings.voices %}
                <option value="{{ voice }}">{{ voice }}</option>
                {% endfor %}
            </select>
            <label for="cache" id="picker" data-tooltip="Cache a voice file.">
                <i>folder</i>
            </label>
            <input accept="{% for format in settings.formats %}.{{ format }}, {% endfor %}" id="cache" type="file">
        </fieldset>

        <label data-tooltip="Max characters per chunk." for="maxLen">Chunk</label>
        <input id="maxLen" name="max_len" type="number" value="{{ settings.max_len }}">

        <label for="format">Format</label>
        <select id="format" name="format">
            {% for format in settings.formats %}
            <option value="{{ format }}" {% if format==settings.format %}selected{% endif %}>{{ format }}</option>
            {% endfor %}
        </select>

        <label data-tooltip="Output sample rate." for="rate">Rate</label>
        <input id="rate" name="rate" type="number" value="{{ settings.rate }}">

        <label data-tooltip="Join chunks before decoding." for="join">Join</label>
        <fieldset class="checkbox">
            <input id="join" name="join" type="checkbox" {% if settings.join %}checked{% endif %} value="true">
            <label data-tooltip="Use previous chunk as reference for the next one." for="reuse">Reuse</label>
            <input id="reuse" name="reuse" type="checkbox" {% if settings.reuse %}checked{% endif %} value="true">
        </fieldset>

        <label for="seed">Seed</label>
        <input id="seed" name="seed" type="number" value="{{ settings.seed }}">

        <label data-tooltip="Repetition penalty." for="penalty">Penalty</label>
        <input id="penalty" name="penalty" step="0.001" type="number" value="{{ settings.penalty }}">

        <label data-tooltip="Temperature." for="temperature">Temp</label>
        <input id="temperature" name="temperature" step="0.001" type="number" value="{{ settings.temperature }}">

        <label data-tooltip="Pick from the K most likely tokens." for="topK">Top K</label>
        <input id="topK" name="top_k" type="number" value="{{ settings.top_k }}">

        <label data-tooltip="Pick from the most likely tokens up to probability P." for="topP">Top P</label>
        <input id="topP" name="top_p" step="0.001" type="number" value="{{ settings.top_p }}">

        <hr>

        <div id="player">
            <button data-tooltip="Generate audio." id="submit" type="submit">
                <i>sync</i>
            </button>
            <button id="play" type="button">
                <i>play</i>
            </button>
            <div id="track">
                <input id="timeline" min="0.0" max="0.0" step="0.01" type="range" value="0.0">
                <div id="time">
                    <span id="current">00:00</span>
                    <span id="duration">00:00</span>
                </div>
                <input id="volume" min="0.0" max="1.0" step="0.1" type="range" value="1.0">
            </div>
            <button data-tooltip="Download audio." id="download" type="button">
                <a>save</a>
            </button>
        </div>
    </form>
</body>

</html>